*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(133, 180, 155);
    text-align: center;
}
.ejercicios-js{
    margin-top: 20px;
    border: 2px solid rgb(71, 110, 45);
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
/*1*/
p{
    font-size: 20px;
    padding: 10px;
}
.ejercicio-1{
    border: 1px solid #000;
    margin: 10px;
}

.ejercicio-1 label{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(10, 245, 253);
    padding-right: 10px;
}
.ejercicio-1 input{
    width: 60%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(10, 245, 253, 0.5);
    background: transparent;
    padding-left: 5px;
    color: #F2F2F0;
    margin-bottom: 10px;
    
}

.ejercicio-1 button{
    font-size: 20px;
    background: rgb(8, 51, 131);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #F2F2F0;
}
.ejercicio-1 span{
    display: block;
    width: 100%;
    font-size: 20px;
}
/*2*/
.ejercicio-2 label {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(10, 245, 253);
  padding-right: 10px;
}
.ejercicio-2 #recorte{
  width: 60px;
}
.ejercicio-2 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #F2F2F0;
  margin-bottom: 10px;
}

.ejercicio-2 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-2 span {
  display: block;
  width: 100%;
  font-size: 20px;
}
.ejercicio-2 {
  border: 1px solid #000;
  margin: 10px;
}

/*3*/

.ejercicio-3 label {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(10, 245, 253);
  padding-right: 10px;
}
.ejercicio-3 #separador{
  width: 60px;
}
.ejercicio-3 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #F2F2F0;
  margin-bottom: 10px;
}
.ejercicio-3 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-3 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-3 {
  border: 1px solid #000;
  margin: 10px;
}

