*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #eee8aa;
    text-align: center;
}
.ejercicios-js{
    margin-top: 20px;
    border: 2px solid rgb(71, 110, 45);
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
/*1*/
p{
    font-size: 20px;
    padding: 10px;
}
.ejercicio-1{
  border: 1px solid #000;
  margin: 10px;
}

.ejercicio-1 label{
    font-size: 20px;
    text-transform: uppercase;
    color: #6b8e23;
    font-weight: 900;
    padding-right: 10px;
}
.ejercicio-1 input{
    width: 60%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(10, 245, 253, 0.5);
    background: transparent;
    padding-left: 5px;
    color: #2F4F4f;
    margin-bottom: 10px;
}

.ejercicio-1 button{
    font-size: 20px;
    background: rgb(8, 51, 131);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #F2F2F0;
}
.ejercicio-1 span{
    display: block;
    width: 100%;
    font-size: 20px;
}
/*2*/
.ejercicio-2 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-2 #recorte{
  width: 60px;
}
.ejercicio-2 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}

.ejercicio-2 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-2 span {
  display: block;
  width: 100%;
  font-size: 20px;
}
.ejercicio-2 {
  border: 1px solid #000;
  margin: 10px;
}

/*3*/

.ejercicio-3 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-3 #separador{
  width: 60px;
}
.ejercicio-3 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}
.ejercicio-3 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-3 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-3 {
  border: 1px solid #000;
  margin: 10px;
}
/*4*/
.ejercicio-4 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-4 #repetidor{
  width: 60px;
}
.ejercicio-4 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}
.ejercicio-4 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-4 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-4 {
  border: 1px solid #000;
  margin: 10px;
}

/*5*/

.ejercicio-5 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-5 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}
.ejercicio-5 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-5 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-5 {
  border: 1px solid #000;
  margin: 10px;
}

/*6*/
.ejercicio-6 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-6 #pbuscada{
  width: 220px;
}
.ejercicio-6 textarea, .ejercicio-6 input{
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
  resize: none;
  background: rgb(107, 142, 35, 0.2);
}
.ejercicio-6 textarea{
  height: 80px;
}
.ejercicio-6 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-6 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-6 {
  border: 1px solid #000;
  margin: 10px;
  position: relative;
}

/*7*/

.ejercicio-7 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-7 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ejercicio-7 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-7 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-7 {
  border: 1px solid #000;
  margin: 10px;
}

/*8*/

.ejercicio-8 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-8 #patron{
  width: 200px;
}
.ejercicio-8 input {
  width: 75%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}
.ejercicio-8 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-8 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-8 {
  border: 1px solid #000;
  margin: 10px;
}

/*9*/

.ejercicio-9 {
  border: 1px solid #000;
  margin: 10px;
}
.ejercicio-9 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
  margin-bottom: 15px;
}
.ejercicio-9 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-9 #num__aleatorio{
  font-size: 25px;
  color: #6b8e23;
}

/*10*/
.ejercicio-10 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-10 input {
  width: 50%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ejercicio-10 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-10 span {
  display: block;
  max-width: 90%;
  font-size: 20px;
}
.ejercicio-10 {
  border: 1px solid #000;
  margin: 10px;
}

/*11*/
.ejercicio-11{
  border: 1px solid #000;
  margin: 10px;
}

.ejercicio-11 label{
    font-size: 20px;
    text-transform: uppercase;
    color: #6b8e23;
    font-weight: 900;
    padding-right: 10px;
}
.ejercicio-11 input{
    width: 60%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(10, 245, 253, 0.5);
    background: transparent;
    padding-left: 5px;
    color: #2F4F4f;
    margin-bottom: 10px;
}

.ejercicio-11 button{
    font-size: 20px;
    background: rgb(8, 51, 131);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #F2F2F0;
}
.ejercicio-11 span{
    display: block;
    width: 100%;
    font-size: 20px;
}
/*12*/
.ejercicio-12{
  border: 1px solid #000;
  margin: 10px;
}

.ejercicio-12 label{
    font-size: 20px;
    text-transform: uppercase;
    color: #6b8e23;
    font-weight: 900;
    padding-right: 10px;
}
.ejercicio-12 input{
    width: 60%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(10, 245, 253, 0.5);
    background: transparent;
    padding-left: 5px;
    color: #2F4F4f;
    margin-bottom: 10px;
}

.ejercicio-12 button{
    font-size: 20px;
    background: rgb(8, 51, 131);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #F2F2F0;
}
.ejercicio-12 span{
    display: block;
    width: 100%;
    font-size: 20px;
}

/*13*/

.ejercicio-13{
  border: 1px solid #000;
  margin: 10px;
}

.ejercicio-13 label{
    font-size: 20px;
    text-transform: uppercase;
    color: #6b8e23;
    font-weight: 900;
    padding-right: 10px;
}
.ejercicio-13 input{
    width: 60%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(10, 245, 253, 0.5);
    background: transparent;
    padding-left: 5px;
    color: #2F4F4f;
    margin-bottom: 10px;
}

.ejercicio-13 button{
    font-size: 20px;
    background: rgb(8, 51, 131);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #F2F2F0;
}
.ejercicio-13 span{
    display: block;
    width: 100%;
    font-size: 20px;
}

/*14*/
.ejercicio-14 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-14 #tipoGrados{
  width: 60px;
  text-align: center;
}
.ejercicio-14 input {
  width: 50%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}

.ejercicio-14 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-14 span {
  display: block;
  width: 100%;
  font-size: 20px;
}
.ejercicio-14 {
  border: 1px solid #000;
  margin: 10px;
}

/*15*/
.ejercicio-15 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-15 #base{
  width: 60px;
  text-align: center;
}
.ejercicio-15 input {
  width: 50%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}

.ejercicio-15 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-15 span {
  display: block;
  width: 100%;
  font-size: 20px;
}
.ejercicio-15 {
  border: 1px solid #000;
  margin: 10px;
}

/*16*/
.ejercicio-16 label {
  font-size: 20px;
  text-transform: uppercase;
  color: #6b8e23;
  font-weight: 900;
  padding-right: 10px;
}
.ejercicio-16 #descuento{
  width: 60px;
  text-align: center;
}
.ejercicio-16 input {
  width: 50%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 245, 253, 0.5);
  background: transparent;
  padding-left: 5px;
  color: #2F4F4f;
  margin-bottom: 10px;
}

.ejercicio-16 button {
  font-size: 20px;
  background: rgb(8, 51, 131);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #F2F2F0;
}
.ejercicio-16 span {
  display: block;
  width: 100%;
  font-size: 20px;
}
.ejercicio-16 {
  border: 1px solid #000;
  margin: 10px;
}